*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul {
    padding-left: 0;
}
ul li{
    border: 1px solid #CCC;
    list-style: none;
    text-align: center;
    width: 300px;
}
ul li:nth-child(odd) {
    background: #DDDDDD;
}